@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Outfit", sans-serif;
}
select,input,textarea{
    border: 1px solid rgb(161, 7, 7);
    outline: red;
    border-radius: 4px;
}
.active {
    background-color: rgb(235, 59, 59);
    color: white;
    border-color: rgb(147, 147, 147);
}

